<div id='facebook-posts'>
<a href="{{ pageLink|raw}}"><h3 class="heading">{{ sectionTitleRaw|raw }}</h3></a>
{% for post in feed|slice(0, count)  %}
  <div class='facebook-post'>
    <a href='{{ post.link|raw }}' title='Facebook post'>
    <i class="fa fa-envelope post-icon" aria-hidden='true'></i><h4 class='media-heading'>{{ post.time|raw }}</h4></a>
    <p>{{ post.message|raw }}</p>
    {{ post.image|raw }}
    </p>
    {% if fb_page_settings.like_button %}
    <div class="fb-like"
        data-href="{{ post.link|raw }}"
        data-layout="standard"
        data-action="like"
        data-show-faces="true"
        {% if fb_page_settings.share_button %}
        data-share="true"
        {% endif %}
        >
    </div>
    {% endif %}
    {% if fb_page_settings.comments %}
    <div class="fb-comments"
        data-href="{{ post.link|raw }}"
        data-colorscheme="dark"
        data-numposts="5"
        data-order-by="reverse_time"
        >
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>